<!DOCTYPE html>
<html>
    <head>
        <title>Users index page</title>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            {% for user_id, firstname, lastname, age, password, email in users %}
            <tr>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{age}}</td>
                <td>{{email}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>